---
import { getCollection } from 'astro:content'
import Layout from 'layouts/Layout.astro'

const posts = await getCollection('writing', ({ data }) => data.draft !== true)
---

<Layout>
  <h1>Writing</h1>
  <ul>
    {
      posts.map((entry) => (
        <li>
          <h2>
            <a href={`/writing/${entry.slug}`}>{entry.data.title}</a>
          </h2>
          <p>{entry.data.description}</p>
          <time datetime={entry.data.pubDate.toDateString()}>
            {entry.data.pubDate.toLocaleDateString()}
          </time>
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  h1 {
    margin: var(--s-xl) 0;
    font-size: var(--fs-lg);
  }

  ul {
    padding: 0;
    list-style: none;
  }

  h2 {
    margin: var(--s-sm) 0;
    font-size: var(--fs-md);
  }

  a {
    color: var(--c-text);
    text-decoration: none;
  }

  a:hover {
    color: var(--c-link);
  }

  p {
    margin: var(--s-sm) 0;
  }

  time {
    font-size: var(--fs-sm);
    color: var(--c-text-light);
  }
</style>
