---
import Button from 'components/Button.astro'
import Close from 'components/icons/Close.astro'
import Github from 'components/icons/Github.astro'
import Instagram from 'components/icons/Instagram.astro'
import Menu from 'components/icons/Menu.astro'
import Twitter from 'components/icons/Twitter.astro'
import {
  FOUNDATION_LINK,
  GITHUB_LINK,
  INSTAGRAM_LINK,
  READ_CV_USERNAME,
  TWITTER_LINK,
} from '../constants'
---

<nav data-testid="nav">
  <Button
    type="button"
    class="open"
    aria-label="open menu"
    data-nav-toggle
    data-testid="nav-open"
  >
    <Menu />
  </Button>

  <div data-nav-menu>
    <ul>
      <li>
        <a href="/writing">Writing</a>
      </li>
      <li>
        <a href={`https://read.cv/${READ_CV_USERNAME}`} target="_blank">Work</a>
      </li>
      <li>
        <a href={FOUNDATION_LINK} target="_blank">
          <span>Foundation&nbsp;</span>
          <span class="show">NFTs</span>
        </a>
      </li>
      <li>
        <a href={INSTAGRAM_LINK} target="_blank">
          <Instagram />
          <span>Instagram</span>
        </a>
      </li>
      <li>
        <a href={TWITTER_LINK} target="_blank">
          <Twitter />
          <span>Twitter</span>
        </a>
      </li>
      <li>
        <a href={GITHUB_LINK} target="_blank">
          <Github />
          <span>GitHub</span>
        </a>
      </li>
    </ul>
    <Button
      type="button"
      aria-label="close menu"
      data-nav-toggle
      data-testid="nav-close"
    >
      <Close />
    </Button>
  </div>
</nav>

<script is:inline>
  function toggleNav(event) {
    event.stopPropagation()
    document.querySelector('[data-nav-menu]')?.classList.toggle('visible')
  }

  document.querySelectorAll('[data-nav-toggle]').forEach((element) => {
    element.addEventListener('click', toggleNav)
  })

  window.addEventListener('click', (event) => {
    const menu = document.querySelector('[data-nav-menu]')
    if (menu && !menu.contains(event.target)) {
      menu.classList.remove('visible')
    }
  })
</script>

<style>
  svg {
    height: var(--fs-md);
    color: var(--c-text);
  }

  div {
    position: absolute;
    top: var(--s-md);
    right: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--s-md);
    pointer-events: none;
    background: var(--c-bg);
    border-radius: var(--r);
    box-shadow: var(--shadow);
    opacity: 0;
    transition-timing-function: var(--t-timing);
    transition-duration: var(--t-duration);
    transition-property: transform, opacity;
    transform: scale(0.8);
    transform-origin: top right;
  }

  .visible {
    pointer-events: unset;
    opacity: 1;
    transform: scale(1);
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: var(--s-md);
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    display: flex;
    flex-grow: 1;
    align-items: end;
  }

  a {
    display: flex;
    align-items: center;
    line-height: 1;
    color: var(--c-text);
    text-decoration: none;
  }

  li svg {
    display: none;
  }

  .open {
    margin-right: var(--s-lg);
  }

  @media (--tablet-portrait-up) {
    div {
      left: unset;
      width: 300px;
    }
  }

  @media (--tablet-landscape-up) {
    div {
      position: unset;
      width: unset;
      padding: unset;
      pointer-events: unset;
      background-color: unset;
      box-shadow: unset;
      opacity: unset;
      transform: unset;
    }

    ul {
      flex-direction: row;
      gap: var(--s-xl);
      margin-right: var(--s-xl);
    }

    li svg {
      display: block;
    }

    span:not(.show) {
      display: none;
    }

    [data-nav-toggle] {
      display: none;
    }
  }
</style>
