---
import { SEO, Props as SEOProps } from 'astro-seo'
import Themes from 'astro-themes'

import {
  DESCRIPTION,
  NAME,
  SEPARATOR,
  TAGLINE,
  TWITTER_USERNAME,
} from '../constants'

export interface Props {
  title?: string
  article?: NonNullable<SEOProps['openGraph']>['article']
}

const { article, title } = Astro.props

const fullTitle = `${NAME} ${SEPARATOR} ${title ?? TAGLINE}`
const openGraph: SEOProps['openGraph'] = {
  basic: {
    title: fullTitle,
    type: article ? 'article' : 'website',
    image: `${Astro.url.origin}/og.png`,
  },
  image: {
    alt: `${NAME}'s logo`,
    width: 1200,
    height: 1200,
  },
}

if (article) openGraph.article = article
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <Themes />
    <meta name="theme-color" />
    <script>
      import { updateThemeColor } from 'theme'
      updateThemeColor()
    </script>
    <SEO
      title={fullTitle}
      description={DESCRIPTION}
      openGraph={openGraph}
      twitter={{
        card: 'summary_large_image',
        creator: `@${TWITTER_USERNAME}`,
        site: `@${TWITTER_USERNAME}`,
      }}
    />
    <style>
      :root {
        /* Generally applicable styles */
        font-family: Avenir, 'Avenir Next LT Pro', Montserrat, Corbel,
          'URW Gothic', source-sans-pro, sans-serif;
        color: var(--c-text);
        background: var(--c-bg);

        /* Generally applicable variables */

        /* Spacing */
        --s-xs: 2px;
        --s-sm: 8px;
        --s-md: 16px;
        --s-lg: 24px;
        --s-xl: 32px;
        --s-xxl: 48px;

        /* Font size */
        --fs-sm: 0.75rem;
        --fs-md: 1.25rem;
        --fs-lg: 1.5rem;
        --fs-xl: 3rem;
        --fs-xxl: 6rem;
        --fs-xxxl: 10rem;

        /* Transitions */
        --t-duration: 0.2s;
        --t-timing: ease-in-out;

        /* Border radius */
        --r: 6px;
        --r-full: 100%;

        /* Other */
        --shadow: 0 0 4px 2px var(--c-border);
        --brightness: 120%;

        /* Theming variables, overridden below */
        --c-bg: #fff;
        --c-text: #1b1b1b;
        --c-text-light: #454545;
        --c-link: #094cd2;
        --c-border: #e2e2e2;
      }

      [data-theme='dark'] {
        --c-bg: #1e1e1e;
        --c-text: #fff;
        --c-text-light: #cbcbcb;
        --c-link: #7daaf2;
        --c-border: #303030;
      }

      body {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
