---
import { SEO, Props as SEOProps } from 'astro-seo'
import Themes from 'astro-themes'

import {
  DESCRIPTION,
  NAME,
  SEPARATOR,
  TAGLINE,
  TWITTER_USERNAME,
} from '../constants'

export interface Props {
  title?: string
  article?: NonNullable<SEOProps['openGraph']>['article']
}

const { article, title } = Astro.props

const openGraph: SEOProps['openGraph'] = {
  basic: {
    title: `${title ?? TAGLINE} ${SEPARATOR} ${Astro.url.hostname}`,
    type: article ? 'article' : 'website',
    image: '/og.png',
  },
  image: {
    alt: `${NAME}'s logo`,
    width: 1200,
    height: 1200,
  },
}

if (article) openGraph.article = article
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="white"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="black"
    />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <Themes />
    <SEO
      title={`${NAME} ${SEPARATOR} ${title ?? TAGLINE}`}
      description={DESCRIPTION}
      openGraph={openGraph}
      twitter={{
        card: 'summary',
        creator: `@${TWITTER_USERNAME}`,
        site: `@${TWITTER_USERNAME}`,
      }}
    />
    <style>
      :root {
        /* Generally applicable styles */
        font-family: Avenir, 'Avenir Next LT Pro', Montserrat, Corbel,
          'URW Gothic', source-sans-pro, sans-serif;
        color: var(--c-text);
        background: var(--c-bg);

        /* Generally applicable variables */
        --spacing-xs: 2px;
        --spacing-sm: 8px;
        --spacing-md: 16px;
        --spacing-lg: 24px;
        --spacing-xl: 32px;
        --spacing-xxl: 48px;
        --fs-sm: 0.75rem;
        --fs-lg: 1.5rem;
        --fs-xl: 3rem;
        --fs-xxl: 6rem;
        --fs-xxxl: 10rem;
        --t-duration: 0.2s;
        --t-timing: ease-in-out;
        --r: 6px;
        --r-full: 100%;
        --shadow: 0 0 4px 2px var(--c-border);

        /* Theming variables, overridden below */
        --c-bg: #fff;
        --c-text: #1b1b1b;
        --c-text-light: #454545;
        --c-link: #3679f6;
        --c-border: #e2e2e2;
      }

      [data-theme='dark'] {
        --c-bg: #1e1e1e;
        --c-text: #fff;
        --c-text-light: #cbcbcb;
        --c-link: #3a7fef;
        --c-border: #303030;
      }

      body {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
