---
import { SEO, Props as SEOProps } from 'astro-seo'
import Themes from 'astro-themes'

import Divider from 'components/Divider.astro'
import Footer from 'components/Footer.astro'
import Header from 'components/Header.astro'
import {
  DESCRIPTION,
  NAME,
  SEPARATOR,
  TAGLINE,
  TWITTER_USERNAME,
} from '../constants'
import 'global.css'

export interface Props {
  title?: string
  article?: NonNullable<SEOProps['openGraph']>['article']
}

const { article, title } = Astro.props

const openGraph: SEOProps['openGraph'] = {
  basic: {
    title: `${title ?? TAGLINE} ${SEPARATOR} ${Astro.url.hostname}`,
    type: article ? 'article' : 'website',
    image: '/og.png',
  },
  image: {
    alt: `${NAME}'s logo`,
    width: 1200,
    height: 1200,
  },
}

if (article) openGraph.article = article
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="white"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="black"
    />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <Themes />
    <SEO
      title={`${NAME} ${SEPARATOR} ${title ?? TAGLINE}`}
      description={DESCRIPTION}
      openGraph={openGraph}
      twitter={{
        card: 'summary',
        creator: `@${TWITTER_USERNAME}`,
        site: `@${TWITTER_USERNAME}`,
      }}
    />
    <style>
      :root {
        --c-bg: #f1f1f1;
        --c-text: #1b1b1b;
      }

      [data-theme='dark'] {
        --c-bg: #1b1b1b;
        --c-text: #f1f1f1;
      }

      @supports not (color-scheme: light dark) {
        html {
          color: var(--c-text);
          background: var(--c-bg);
        }
      }

      @supports (color-scheme: light dark) and (background-color: Canvas) and
        (color: CanvasText) {
        :root {
          --c-bg: Canvas;
          --c-text: CanvasText;
        }
      }

      @supports (background-color: -apple-system-control-background) and
        (color: text) {
        :root {
          --c-bg: -apple-system-control-background;
          --c-text: text;
        }
      }

      body {
        margin: 0;
      }

      div {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 900px; /* --tablet-landscape-up */
        min-height: 100vh;
        padding: 0 var(--spacing-md);
        margin: 0 auto;
      }

      main {
        flex-grow: 1;
      }

      @media (--tablet-landscape-up) {
        div {
          padding: 0;
        }
      }
    </style>
  </head>
  <body>
    <div>
      <Header />
      <main>
        <slot />
      </main>
      <Divider />
      <Footer />
    </div>
  </body>
</html>
